/* Colors: https://paletton.com/#uid=30u0u0kllllaFw0g0qFqFg0w0aF */


* {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  /* Original Colors
  --primary-color: #D49A6A;
  --primary-color-dark: #804515;
  --secondary-color: #2E4272;
  --nav-color: #116611;
  */
  /* Poster Colors
   */
  --primary-color: #B8e5a4;
  --primary-color-dark: #1fc478;
  --secondary-color: #0078aa;
  --secondary-color-dark: #061539;
  --nav-color: #d9987a;
  --bend-color: #fbf1b4;

  font-size: 1.05rem;
}

nav {
  display: flex;
}

nav a {
  padding: 1rem;
  display: block;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--nav-color);
  color: white;
}

.cover-image {
  height: 20rem;
  display: block;
  margin: auto;
  margin-bottom: -5rem;
}

h1,
h2 {
  text-align: center;
  color: var(--secondary-color);
}

h1 {
  margin-bottom: 0;
}

.tagline {
  text-align: center;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  font-size: 1rem;
}

.main-content {
  max-width: 75rem;
  margin: auto;
  padding: 0 1rem 0 1rem;
}

.two-columns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.two-columns div {
  max-width: 50rem;
  text-align: center;
  padding: 1rem;
}

button,
.button {
  background-color: var(--primary-color);
  letter-spacing: 0.1em;
  border: none;
  border-radius: 0;
  padding: 1rem;
  font-size: 15px;
}

button:hover {
  background-color: var(--primary-color-dark);
}

body {
  /* Todo: Fix in Safari */
  background: radial-gradient(80vw 30rem ellipse at 50vw -10rem, var(--bend-color) 90%, transparent 90%);
  min-height: 100vh;
  /*background: 0 0/100% no-repeat url("bend.svg");*/
}

.quote {
  text-align: left;
  clear: left;
}

.quote img,
.profile-image {
  float: left;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.profile-role {
  font-size: 1.2rem;
}

.author {
  text-align: right;
  font-style: italic;
}

.space-above-footer {
  min-height: calc(100vh - 8rem);
}

.footer {
  clear: both;
  background-color: var(--primary-color);
  padding: 4rem;
  margin-top: 4rem;
  text-align: center;
}

h1 img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.clear {
  clear: both;
}

.spacer {
  flex-grow: 1;
}

.profile-blocks {
  display: flex;
  clear: both;
  justify-content: space-around;
  vertical-align: middle;
  flex-wrap: wrap;
}

.profile-block {
  background-color: var(--primary-color);
  margin: 2rem;
  padding: 2rem;
  width: 12rem;
  height: 12rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.big-number {
  font-size: 4rem;
}

.profile-name {
  font-size: 2rem;
  color: var(--secondary-color);
}

.leaderboard {
  width: 100%;
}

td {
  width: 4rem;
  text-align: right;
  height: 4rem;
  vertical-align: middle;
}

.unset_width {
  text-align: left;
  width: unset;
}

@media (max-width: 800px) {
  .wide-screen-only {
    display: none;
  }
}

@media (min-width: 800px) {
  .narrow-screen-only {
    display: none;
  }
}

.hidden {
  display: none;
}

.nav-sidebar {
  position: absolute;
  left: 0;
  top: 4rem;
  background-color: var(--nav-color);
  padding: 1rem;
}

.nav-sidebar ul {
  list-style-type: none;
  padding-left: 1rem;
}

.nav-sidebar a {
  padding: 0.5rem;
  display: inline-block;
  text-decoration: none;
}

.leaderboard td:nth-child(1) {
  font-size: 2rem;
  text-align: center;
}

a {
  color: inherit;
}

.leaderboard img {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  vertical-align: middle;
}

.leaderboard-categories {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.leaderboard-categories a {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
}

.leaderboard-categories a:hover {
  background-color: var(--primary-color-dark);
}

img {
  max-width: 100%;
}

input:not([type='checkbox']):not([type='radio']),
textarea {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0;
  border: 0 solid black;
  border-bottom: 2px solid var(--secondary-color);
  border-top: 2px solid white;
  margin-bottom: 0.5rem;
  font-family: inherit;
}

input:focus:not([type='checkbox']):not([type='radio']),
textarea:focus {
  outline: none;
  border-top: 2px solid var(--secondary-color);
}

textarea {
  height: 8rem;
  resize: vertical;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}

ul {
  text-align: left;
}

.dropdown-content {
  display: none;
  background-color: var(--nav-color);
  position: absolute;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-content li {
  margin: 0;
}

.dropdown-button:hover .dropdown-content {
  display: block;
}

table {
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.success {
  background-color: adjust-color(lightgreen, $alpha: -0.5);
  padding: 0.5rem;
  ;
}