<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catan Community</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='smallicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='generated/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_styles %}
    {% endblock %}
</head>
<body>
{% block page_body %}
    <div class="space-above-footer">
        {% block nav %}
            <nav class="narrow-screen-only">
                <a id="dropdown-toggle">
                    Menu
                </a>
                <div class="spacer"></div>
                {% if session.user_info %}
                    <a href="{{ url_for('profile.view_profile', player_id=session.user_info.id) }}">
                        {{ session.user_info.username }}
                    </a>
                    <a href="{{ url_for('auth.logout') }}">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </nav>
            <nav class="wide-screen-only">
                {% with nav=cms_nav() %}
                    {% for page in nav %}
                        {% if page.subpages %}
                            <div class="dropdown-button">
                        {% endif %}
                    <a href="{{ page.get_absolute_url() }}">
                        {{ page.nav_title }}
                    </a>
                    {% if page.subpages %}
                        <div class="dropdown-content">
                            {% with nav=page.subpages %}
                                {% include 'cms/example_templates/nav.html' %}
                            {% endwith %}
                        </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endwith %}
                <div class="spacer"></div>
                {% if session.user_info %}
                    {% if is_admin() %}
                        <div class="dropdown-button">
                            <a>
                                Admin tools
                            </a>
                            <div class="dropdown-content">
                                <ul>
                                    <li>
                                        <a href="{{ url_for('simple_flask_cms.editor_home') }}">
                                            CMS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('reg.export_users') }}" target="_blank">
                                            Export Users
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ url_for('stats.get_stats') }}">
                                            Statistics
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    <a href="{{ url_for('reg.view_registration') }}">
                        Registration
                    </a>
                    <a href="{{ url_for('profile.view_profile', player_id=session.user_info.id) }}">
                        {{ session.user_info.username }}
                    </a>
                    <a href="{{ url_for('auth.logout') }}">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}">Login</a>
                {% endif %}
            </nav>

            <div class="nav-sidebar hidden">
                <ul>
                    {% with nav=cms_nav() %}
                        {% for page in nav %}
                            <li>
                                <a href="{{ page.get_absolute_url() }}">
                                    {{ page.nav_title }}
                                </a>
                                {% if page.subpages %}
                                    {% with nav=page.subpages %}
                                        {% include 'cms/example_templates/nav.html' %}
                                    {% endwith %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% endwith %}
                    {% if is_admin() %}
                        <li>
                            <a>
                                Admin tools
                            </a>
                            <ul>
                                <li>
                                    <a href="{{ url_for('simple_flask_cms.editor_home') }}">
                                        CMS
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('reg.export_users') }}" target="_blank">
                                        Export Users
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url_for('stats.get_stats') }}">
                                        Statistics
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ url_for('reg.view_registration') }}">
                            Registration
                        </a>
                    </li>
                </ul>
            </div>
        {% endblock %}
        {% block cover_image %}

            <img class="cover-image" src="{{ url_for('static', filename='banner.svg') }}">
        {% endblock %}
        {% block page_content %}
        {% endblock %}

    </div>
    {% block page_footer %}
        <div class="clear"></div>
        <div class="footer">
            <a href="https://www.facebook.com/Catan-Community-104295705401042">
                <img src="{{ url_for('static', filename='brands/face.svg') }}" alt="facebook">
            </a>
            <a href="{{ get_discord_invite() }}">
                <img src="{{ url_for('static', filename='brands/discord.svg') }}" alt="facebook">
            </a>
            <a href="https://www.instagram.com/catan_community/">
                <img src="{{ url_for('static', filename='brands/insta.svg') }}" alt="instagram">
            </a>
            <a href="https://twitter.com/Catan_Community">
                <img src="{{ url_for('static', filename='brands/twitt.svg') }}" alt="twitter">
            </a>
            <br>
            <p>
                We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with
                Catan®, CATAN GmbH, Klaus Teuber, or any of its subsidiaries or affiliates. The name Catan, as well as
                related names, trademarks, emblems and images are registered trademarks of their respective owners.
            </p>

            <div>
                Website provided by <a href="https://mousetail.nl">mousetail</a>. &copy;️ {{ get_year() }}. All rights
                reserved.
            </div>
        </div>
    {% endblock %}
{% endblock %}
<script src="{{ url_for('static', filename='generated/script.js') }}"></script>
<script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"mousetail",utcoffset:1}))};sessionStorage.setItem("_swa","1");</script>
</body>
</html>