<svg viewBox="0 0 {{ stat_positions|length * 2 }} 25">

    {% for point in stat_positions %}
        {% if point.0 % 3 == 0 and point.0 != 0 %}
            <line stroke-width="0.128" stroke="#ddd"
                  x1="{{ point.0 * 2 }}"
                  x2="{{ point.0 * 2 }}"
                  y1="2.5"
                  y2="25"
            >
            </line>
            <text x="{{ point.0 * 2 }}" y="2" font-size="0.8"
                  text-anchor="middle"
            >
                {{ point.3.strftime('%Y-%m-%d') }}
            </text>
        {% endif %}
    {% endfor %}
    {% for k in range(size, 23 * 64 // scale, size) %}
        <line stroke-width="0.064" stroke="#ddd"
              x1="2.5"
              x2="{{ stat_positions | length * 2 }}"
              y1="{{ 25 - scale * k / 64 }}"
              y2="{{ 25 - scale * k / 64 }}"
        ></line>
        <text x="0.5" y="{{ 25 - scale * k / 64 }}" font-size="0.8" alignment-baseline="middle">
            {{ k }}
        </text>
    {% endfor %}

    <path
            stroke="black" stroke-width="0.3" fill="none"
            stroke-linejoin="round"
            d="
                M -10 200
{% for point in stat_positions %}
L {{ point.0 * 2 }} {{ 25 - scale * point.1 / 64 }}
{% endfor %}
"
    ></path>

</svg>

<h2>
    Raw Data
</h2>

<table style="column-count: 2">
    <tr>
        <th>Year</th>
        <th>Week</th>
        <th>Date</th>
        <th class="unset_width">{{ name }}</th>

        <th>Year</th>
        <th>Week</th>
        <th>Date</th>
        <th class="unset_width">{{ name }}</th>
    </tr>
    {% for week in stat_positions | pairs %}
        <tr>
            <td>
                {{ week.0.2.0 }}
            </td>
            <td>
                {{ week.0.2.1 }}
            </td>
            <td>
                {{ week.0.3.strftime('%Y-%m-%d') }}
            </td>
            <td class="unset_width">
                {{ week.0.2.2 }}
            </td>


            <td>
                {{ week.1.2.0 }}
            </td>
            <td>
                {{ week.1.2.1 }}
            </td>
            <td>
                {{ week.1.3.strftime('%Y-%m-%d') }}
            </td>
            <td class="unset_width">
                {{ week.1.2.2 }}
            </td>
        </tr>
    {% endfor %}
</table>