input:invalid {
    box-shadow: 0 0 5px 1px red;
}
  
input:focus:invalid {
    box-shadow: none;
}

.columns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
  
.columns div {
    max-width: 50rem;
    text-align: left;
    padding: 1rem;
}

fieldset {
    border: none;
}