{% extends 'include/base.html' %}
{% block page_content %}
    <h1>We are happy to announce our 42nd open tournament</h1>
    <div class="two-columns">
        <div>
            <p>
                This weekend is our End of Season tournament. 16 of our best players will be fighting it out for some
                big
                prizes
                (read more about our league in league-points ). We still wanted to host a tournament for everyone else
                tho!
                It will be the usual format! You can qualify on one of three days: Fri-Sat-Sun. First attempt counts
                unless
                you
                are using your 💲donations perk. You can always play more days to earn more league-points!
            </p>
            <dl>
                <dt>Dates:</dt>
                <dd> Friday -Sunday 15-17th of October</dd>
                <dt>
                    Contact:
                </dt>
                <dd> DM @Puzzles</dd>
                <dt>Entry fee:</dt>
                <dd> FREE!</dd>
                <dt>Prizes:</dt>
                <dd> 2.500 - 10.000 Colonist Coins based on participation & Cash Tournament Tickets! If over 200+
                    players, we
                    will give out an exclusive Catan-themed prize that will be mailed to you!
                    Format: 3 placement matches on FAST speed played against random opponents, playing to 10 VPs AND
                    7-card
                    discard
                    Limit!
                </dd>

            </dl>

            <h2>
                Qualifiers:
            </h2>
            <ul>
                <li>
                    <strong>Friday/Saturday - 15th/16th October</strong> 01:00 AM GMT (For some time zones it is
                    Saturday Morning,
                    others
                    Friday
                    evening.) ( https://www.starts-at.com/event/4162152876 for your time zone)
                </li>
                <li>
                    <strong>Saturday - 16th of October</strong> 5 PM GMT (https://www.starts-at.com/event/2336350804 -
                    for your time
                    zone)
                </li>
                <li>
                    <strong>Sunday - 17th of October</strong> 13:00 GMT (All matches on 1 day)
                </li>
            </ul>
            <h2>
                SEMIFINALS: Sunday at 5:00 PM GMT

            </h2>
            <p>
                Check-in opens one hour before Qualifier/Final start time and closes 15 minutes before! You must
                check-in to
                play!
            </p>
        </div>
        <div>
            <img src="{{ url_for('static', filename='tournament_poster.png') }}">

        </div>
    </div>
    <h2>Sign Up!</h2>
    <div class="main-content">
        {% if not session.user_info %}
            <p>
                We need your discord info to properly keep track of you during the tournament,
                please sign in and try again.
            </p>
            <a class="button" href="{{ url_for('auth.login') }}">
                Sign in
            </a>
        {% else %}
            <form>
                <h3>What day would you like to qualify. Please chose at least one day to qualify</h3>
                <p>
                    <label><input type="checkbox">Friday/Saturday 15th/16th Ocotober 01:00 AM GMT</label>
                </p>
                <p>
                    <label><input type="checkbox">Saturday 16h of October - 5 PM GMT </label>
                </p>
                <p>
                    <label><input type="checkbox">Sunday 17th of October - 13:00 GMT - Play the finals right after
                    </label>
                </p>
                <h3>
                    Are you a member of our <a href="{{ get_discord_invite() }}">Discord server</a>, you must
                    join to
                    participate?
                </h3>
                <p>
                    <label><input type="radio" name="server" value="yes">Yes</label>
                </p>
                <p><label><input type="radio" name="server" value="no">No</label>
                </p>
                <p>
                    In order to participate, you <strong>must</strong> check in before the tournament starts. Check
                    in
                    opens
                    1 hour before the starting time and ends 15 minutes before. If you do not check in you cannot
                    participate.
                </p>

                <label>
                    <h3>What is your discord username?</h3>
                    <input readonly disabled
                           value="{{ session.user_info.username }}#{{ session.user_info.discriminator }}">
                </label>

                <label>

                    <h3>What is your Colonist.io username?</h3>
                    <input>

                </label>

                <label>
                    <h3>What country do you live in? (Optional)</h3>
                    <input>
                </label>

                <label>
                    <h3>What is your email? (optional)</h3>
                    <input>
                </label>

                <h3>Are you familiar with discord?</h3>
                <p><label><input type="radio" name="help" value="please-help">I could use some help</label></p>
                <p><label><input type="radio" name="help" value="no-help">I can manage</label></p>

                <label>
                    <h3>Do you have any other questions or concerns? (Optional)</h3>
                    <input>
                </label>

                <button type="submit">
                    Sign Up!
                </button>
            </form>
        {% endif %}


    </div>
{% endblock %}