{% extends 'include/base.html' %}
{% block page_content %}
    <h1>403 - Not Authorized</h1>
    <div class="main-content">
        <p>
            Log in as a different account of contact a admin.

        </p>

        <a href="{{ url_for('auth.login') }}" class="button">Login</a>
    </div>
{% endblock %}