{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}

    <h2>Edit public profile</h2>

    <div class="main-content">
        <p>If you want to edit your tournament registration please do so in <a
                href="{{ url_for('reg.view_registration') }}">registration</a></p>

        <p>
            Donators and contributors get 1000 characters and limited markdown support. Other players get 300
            characters.
        </p>
        <form method="post">

            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <textarea maxlength="{{ max_length }}" name="profile_content">{{ content }}</textarea>

            <button type="submit">
                Update
            </button>
            <a href="{{ url_for('profile.view_profile', player_id=player_id) }}">Back to profile</a>
        </form>
    </div>
{% endblock %}