{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
    <div class="main-content">
        <div class="profile-banner">
            <img src="/cms/images/fbotwebp.webp" class="profile-image" alt="Player Profile">
            <div class="profile-name">
                Player#{{ player_id }}
            </div>
            <div class="profile-role">
                Future Member
            </div>
        </div>

        <h2>Earn at least 1 LP to unlock your profile</h2>

        <div>Check out <a href="/cms/explanation/Bot-Commands">explanation</a> to learn how to quickly jump into a game</div>

        {% for league in ('base', 'ck') %}
            <div class="profile-blocks">
                <a class="profile-block" href="{{ url_for('leaderboard', period='month', league=league) }}">
                    <div>
                        ??? lp
                    </div>
                    <div class="big-number">
                        #???
                    </div>
                    <div>
                        for {{ league }} league this month
                    </div>
                </a>
                <a class="profile-block" href="{{ url_for('leaderboard', period='season', league=league) }}">
                    <div>
                        ??? lp
                    </div>
                    <div class="big-number">
                        #???
                    </div>
                    <div>
                        for {{ league }} league this season
                    </div>
                </a>
                <a class="profile-block" href="{{ url_for('leaderboard', period='all', league=league) }}">
                    <div>??? lp
                    </div>
                    <div class="big-number">
                        #???
                    </div>
                    <div>
                        for {{ league }} league over all time
                    </div>
                </a>
            </div>
        {% endfor %}

        <h2>About this player</h2>
        <p>
            Earn at least 1 LP to customize what is said here
        </p>
    

        <h2> Best Friends</h2>
        <p> Earn at least 1 LP to see who your best friends are</p>
        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Games
                </th>
            </tr>
            {% for bf in range(10) %}
                <tr>
                    <td class="unset_width">
                        ???
                    </td>

                    <td> ???</td>
                </tr>
            {% endfor %}
        </table>

        <h2>
            Tournaments
        </h2>

        <p>If you earned LP via a tournament it may take a few days for the information to be updated</p>

        <table>
            <tr>
                <th>date</th>
                <th class="unset_width">Tournament Name</th>
                <th>Mode</th>
            </tr>
            {% for i in range(10) %}
                <tr>
                        <td>??? / ???</td>
                        <td class="unset_width"> ???</td>
                        <td> ???? </td>
                    </tr>
                
            {% endfor %}
        </table>
    </div>
{% endblock %}