{% extends 'include/base.html' %}

{% block page_content %}
    <h1>
        <img src="{{ url_for('static', filename='smallicon.png') }}" width="64">
        Catan Community
    </h1>
    <div class="tagline">{{ cms_fragment('home_tagline') | safe }}</div>
    <div class="main-content">
        {{ cms_fragment('home_top_section') | safe }}
    </div>
    <div class="two-columns">
        <div>
            {{ cms_fragment('home_left_column') | safe }}
            <a class="button" href="{{ get_discord_invite() }}">
                Join server
            </a>
        </div>
        <div>
            {{ cms_fragment('home_right_column') | safe }}

            <a class="button" href="{{ get_discord_invite() }}">
                Sign Up!
            </a>
        </div>


    </div>
    <div class="main-content">
        {{ cms_fragment('home_bottom_area') | safe }}

        <h2>Testimonials</h2>

        <div class="quote">
            {{ cms_fragment('home_quote_1') | safe }}
        </div>

        <div class="quote">

            {{ cms_fragment('home_quote_2') | safe }}

        <div class="quote">

            {{ cms_fragment('home_quote_3') | safe }}
        </div>
        <div class="quote">

            {{ cms_fragment('home_quote_4') | safe }}
        </div>
    </div>
{% endblock %}