{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
    <h1>Leaderboard {% if league %}{{ league }} league{% endif %} {{ date_formatted }}</h1>

    <div class="leaderboard-categories">
        {% for child in children %}
            <a href="{{ child.url }}">
                {{ child.name }}
            </a>
        {% endfor %}
    </div>

    <div class="main-content">
        <table class="leaderboard">
            <tr>
                <th>
                    Rank
                </th>
                <th class="unset_width">
                    Name
                </th>
                <th>
                    LP
                </th>
                <th>
                    Relative wins
                </th>
                <th>
                    Games
                </th>
            </tr>
            {% for player in leaderboard %}
                <tr>
                    <td>
                        {{ player[0] }}
                    </td>
                    <td class="unset_width">
                        {% if player[0] <= 10 %}
                            {% if  player.1.user_data.0.profile_picture_url %}
                                <img src="{{ player.1.user_data.0.profile_picture_url }}">
                            {% else %}
                                <img src="{{ url_for('static', filename='bot.webp') }}">
                            {% endif %}
                        {% endif %}
                        <a href="{{ url_for('profile.view_profile', player_id=player.1.player_id) }}">
                            {{ player[1].user_data.0.display_name }}
                        </a>
                    </td>
                    <td>
                        {{ '{:,}'.format(player[1].lp) }}
                    </td>
                    <td>
                        {{ '{:.3f}x'.format(player[1].normalized_wins / ((1, player[1].matches)|max)) }}
                    </td>
                    <td>
                        {{ player[1].matches }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}