{% extends "include/base.html" %}
{% block page_content %}
<h1>New Users</h1>

<h2>What is a referrer</h2>

When you click a link to a website, the browser sends a header with the page of the link. This is known as a "referrer". It is not always set.

<h2>Why are some people's edited dates <code>None</code></h2>

Old invites didn't track the date.

<h2>What is PK</h2>

This will be a users discord id. Typically a autoincrementing primary key approximatly orders in the same order as people are added, but since the primary key here is
not autoincremented but instead based on the discord user ID the ordering is completly random. This feature is useless ignore it.

<h2>Pages</h2>
<div class="pages">
{% for page in users.iter_pages()%}
    {% if page %}
        {% if page == users.current_page %}
            <a href="{{ url_for('stats.newly_registered_users', page=page, sort=sort) }}">{{ page }}</a>
        {% else%}
            {{ page}}
        {%endif%}
    {% else %}
        ...
    {%endif%}
{% endfor%}
</div>
<h2>Sort By</h2>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='updated') }}">updated</a>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='created') }}">created</a>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='pk') }}">pk</a>

<table>
<tr>
    <th class="unset_width">Discord</th>
    <th class="unset_width">Colonist</th>
    <th class="unset_width">registation date</th>
    <th class="unset_width">registation updated date</th>
    <th class="unset_width">Referer</th>
</tr>
{% for user in users.items %}
<tr>
    <td class="unset_width">
        <a href="{{ url_for('profile.view_profile', player_id=user.user_id)}}">{{ user.username }}</a>
    </td>
    <td class="unset_width">{{ user.colonist }}</td>
    <td class="unset_width">{{ user.registration_date and user.registration_date.strftime("%Y-%m-%d %H:%M") }}</td>
    <td class="unset_width">{{ user.registration_update_date and user.registration_update_date.strftime("%Y-%m-%d %H:%M") }}</td>
    <td class="unset_width">{{ user.referer }}</td>
</tr>
{% endfor %}
</table>

<h2>Pages</h2>
<div class="pages">
{% for page in users.iter_pages()%}
    {% if page %}
        {% if page == users.current_page %}
            <a href="{{ url_for('stats.newly_registered_users', page=page, sort=sort) }}">{{ page }}</a>
        {% else%}
            {{ page}}
        {%endif%}
    {% else %}
        ...
    {%endif%}
{% endfor%}
</div>
<h2>Sort By</h2>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='updated') }}">updated</a>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='created') }}">created</a>
<a href="{{ url_for('stats.newly_registered_users', page=users.page, sort='pk') }}">pk</a>
{% endblock %}