{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
    <h1>{{ page.tile }}</h1>
    <div class="main-content">
        {{ page.html | safe }}


        {% if is_admin() %}
            <a href="{{ url_for('simple_flask_cms.editor', path=page.path) }}">
                Edit this page
            </a>
        {% endif %}
    </div>

{% endblock %}