{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
    <div class="main-content">
        <div class="profile-banner">
            <img src="{{ player.profile_picture_url }}" class="profile-image" alt="{{ player.display_name }}">
            <div class="profile-name">
                {{ player.display_name }}
            </div>
            <div class="profile-role">
                {% if player.is_admin %}
                    Community Contributor
                {% elif player.is_donator %}
                    Donator
                {% else %}
                    Member
                {% endif %}
            </div>
        </div>

        {% for league in ('base', 'ck') %}
            <div class="profile-blocks">
                <a class="profile-block" href="{{ url_for('leaderboard', period='month', league=league) }}">
                    <div>
                        {{ "{:,}".format(rank[league][0].lp) }} lp
                    </div>
                    <div class="big-number">
                        #{{ rank[league][0].rank }}
                    </div>
                    <div>
                        for {{ league }} league this month
                    </div>
                </a>
                <a class="profile-block" href="{{ url_for('leaderboard', period='season', league=league) }}">
                    <div>
                        {{ "{:,}".format(rank[league][1].lp) }} lp
                    </div>
                    <div class="big-number">
                        #{{ rank[league][1].rank }}
                    </div>
                    <div>
                        for {{ league }} league this season
                    </div>
                </a>
                <a class="profile-block" href="{{ url_for('leaderboard', period='all', league=league) }}">
                    <div>{{ "{:,}".format(rank[league][2].lp) }} lp
                    </div>
                    <div class="big-number">
                        #{{ rank[league][2].rank }}
                    </div>
                    <div>
                        for {{ league }} league over all time
                    </div>
                </a>
            </div>
        {% endfor %}

        <h2>About {{ player.display_name }}</h2>
        {% if profile_content %}
            <p>
                {{ profile_content }}
            </p>
        {% else %}
            <p>
                This user prefers to keep themselves mysterious
            </p>
        {% endif %}

        {% if is_you %}
            <a href="{{ url_for('profile.edit_profile') }}">Edit your profile</a>
        {% endif %}

        <h2> Best Friends</h2>

        <table>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Games
                </th>
            </tr>
            {% for bf in bffs %}
                <tr>
                    <td class="unset_width">
                        <a href="{{ url_for('profile.view_profile', player_id=bf['id']) }}">
                            {{ bf["name"] }}
                        </a>
                    </td>

                    <td>{{ bf["games"] }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>
            Tournaments
        </h2>

        <table>
            <tr>
                <th>date</th>
                <th class="unset_width">Tournament Name</th>
                <th>Mode</th>
            </tr>
            {% for tournament in tournaments | reverse %}
                {% if tournament.tournament_name %}
                    <tr>
                        <td>{{ tournament.month }}/{{ tournament.year }}</td>
                        <td class="unset_width">{{ tournament.tournament_name }}</td>
                        <td>{{ tournament.mode }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        {% if registation %}
            <h2>Registation Info (Visible only to admins)</h2>

            <table>
                <tr><th>Name</th><th class="unset_width">Value</th></th>
                {% for key, value in registation.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td class="unset_width">{{ value }}</td>
                </tr>
                {%endfor%}
            </table>
        {% endif %}
    </div>
{% endblock %}