{% extends 'include/base.html' %}
{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/validation.css') }}">
<h1>Sign up and join in on the fun!</h1>

<div class="main-content">
    <p>
        We ask new players to register so our team has the information we need to best make tables and organize the
        tournament.
        Keeping the information up to date saves a lot of work for the tournament team.
    </p>
    <p>
        You only need to register once and it will be saved forever. You can update the information any time you like.
    </p>

    <p>
        If you have any questions about the sign up process be sure to ask them on our <a
            href="{{ get_discord_invite() }}">discord</a>. We'd be happy to help!
    </p>

    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />


        <h3>
            Are you a member of our <a href="{{ get_discord_invite() }}">Discord server</a>? You must
            join to participate in the community, tournaments, and matchmaker games!
        </h3>

        {% for error in form.errors.server %}
        <div class="error">{{ error }}</div>
        {% endfor %}

        <p><label><input type="radio" name="server" value="yes" required {% if form.data.server=="yes" %}checked{% endif
                    %}>Yes</label></p>
        <p><label><input type="radio" name="server" value="no" required {% if form.data.server=="no" %}checked{% endif
                    %}>No</label></p>

        <label>
            <h3>What is your Discord username?</h3>
            <input readonly disabled value="{{ discord_username }}">
        </label>

        <label>
            <h3>What is your Colonist.io username?</h3>


            {% for error in form.errors.colonist %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            <input name="colonist" minlength="3" maxlength="12" required value="{{ form.colonist.data }}">
        </label>


        <h3>What expansions do you own?</h3>
        <div class="columns">
            {% for error in form.errors.expansion %}
            <div class="error">{{ error }}</div>
            {% endfor %}
            <div>
                <p><label><input type="checkbox" name="ck" {% if form.data.ck %}checked{% endif %}>Cities &
                        Knights</label></p>
                <p><label><input type="checkbox" name="ck_5_6" {% if form.data.ck_5_6 %}checked{% endif %}>Cities &
                        Knights 5-6 Player</label></p>
                <p><label><input type="checkbox" name="sf" {% if form.data.sf %}checked{% endif %}>Seafarers</label></p>
            </div>
            <div>
                <p><label><input type="checkbox" name="sf_5_6" {% if form.data.sf_5_6 %}checked{% endif %}>Seafarers 5-6
                        Player</label></p>
                <p><label><input type="checkbox" name="cksf" {% if form.data.cksf %}checked{% endif %}>Cities & Knights
                        + Seafarers</label></p>
                <p><label><input type="checkbox" name="cksf_5_6" {% if form.data.cksf_56 %}checked{% endif %}>Cities &
                        Knights + Seafarers 5-6 Player</label></p>
            </div>
            <div>
                <p><label><input type="checkbox" name="base_5_6" {% if form.data.base_5_6 %}checked{% endif %}>Base 5-6
                        Player</label></p>
                <p><label><input type="checkbox" name="base_7_8" {% if form.data.base_7_8 %}checked{% endif %}>Base 7-8
                        Player</label></p>
            </div>
        </div>

        <label>
            {% for error in form.errors.country %}
            <div class="error">{{ error }}</div>
            {% endfor %}

            <h3>What country do you live in? (Optional)</h3>
            <input name="country" maxlength="80" value="{{ form.country.data}}">
        </label>

        <label>
            {% for error in form.errors.email %}
            <div class="error">{{ error }}</div>
            {% endfor %}

            <h3>What is your email? (optional)</h3>
            <input name="email" maxlength="120" type="email" value="{{ form.email.data }}">
        </label>

        {% for error in form.errors.use_discord %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <h3>Are you familiar with Discord?</h3>
        <p><label><input type="radio" name="use_discord" value="please-help" required {% if
                    form.data.use_discord=="please-help" %}checked{% endif %}>I could use some help</label></p>
        <p><label><input type="radio" name="use_discord" value="no-help" required {% if form.data.use_discord=="no-help"
                    %}checked{% endif %}>I can manage</label></p>

        {% for error in form.errors.assistance %}
        <div class="error">{{ error }}</div>
        {% endfor %}
        <label>
            <h3>Do you need an accommodation to play in the tournament? If yes, we will reach out privately.</h3>
            <input name="assistance" maxlength="500" type="text" value="{{form.assistance.data}}">
        </label>

        <button type="submit">Sign Up!</button>
    </form>
</div>
{% endblock %}