{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
    <h2>Games by week</h2>

    {% with stat_positions=game_stats,  scale=1, name="Games", size=200%}
        {% include 'include/stat_image.html' %}
    {% endwith %}
    <h2>New players by week</h2>


    {% with stat_positions=player_stats, scale=16, name="Players", size=10 %}
        {% include 'include/stat_image.html' %}
    {% endwith %}
{% endblock %}