{% extends "include/base.html" %}
{% block page_content %}

<div class="tournament-tabs">
{% for tab in tabs %}
    <a href="/tab"></a>
{% endfor %}
</div>

<div class="tables">

{% for table in tables %}
    <div class="table">
        <div class="table-name">{{ table.name }}</div>

        <div class="table-players">
            {% for team in table.teams %}
                <div class="team">
                    {% if show_team_names %}
                        <div class="team-name">

                        </div>
                        <div class="team-score">
                        </div>

                    {% endif %}
                    {% for player in team.players %}
                        <div>{{ player.discord_name }}</div>
                        <div>{{ player.colonist_name }}</div>
                        <div>{{ player.score }}</div>
                        <div>{{ player.win }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}

</div>


{% endblock %}