{% extends 'include/base.html' %}
{% block cover_image %}
{% endblock %}
{% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms/validation.css') }}">


{% if success %}
<h1>Your Registration Information was updated successfully!</h1>
{% else %}
<h1>Your Registration Information</h1>
{% endif %}
<div class="main-content">


    <div class="success">
        <p>Your registation information is saved. You can edit it below if it's changed.</p>
        <p>While waiting for the tournament to start, <a href="/cms/explanation/Bot-Commands">play some practice
                games</a> to get started
            <a href="/cms/explanation/League-Points">Collecting some LP</a>. Those with the most LP from tournaments and
            match maker games can earn a spot in the special exclusive <a href="/cms/Tournaments/End-of-Month">Month
                finals</a> tournament.
        </p>
    </div>

    {% if view_only %}
    <form action="{{ url_for('reg.pre_update_registration') }}">
        {% else %}
        <form method="post">
            {% endif %}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <fieldset {% if view_only %} readonly disabled {% endif %}>
                <label>
                    <h3>Discord Username:</h3>
                    <input readonly disabled
                        value="{{ session.user_info.username }}#{{ session.user_info.discriminator }}">
                </label>

                <label>
                    <h3>Colonist Username:</h3>
                    <input name="colonist" minlength="3" maxlength="12" value="{{ user.colonist }}" required>
                </label>

                <h3>Expansions Owned</h3>
                <div class="columns">
                    <div>
                        <p><label><input type="checkbox" name="ck" {% if user.ck %} checked {% endif %}>Cities &
                                Knights</label></p>
                        <p><label><input type="checkbox" name="ck_5_6" {% if user.ck_5_6 %} checked {% endif %}>Cities &
                                Knights 5-6 Player</label></p>
                        <p><label><input type="checkbox" name="sf" {% if user.sf %} checked {% endif
                                    %}>Seafarers</label></p>
                    </div>
                    <div>
                        <p><label><input type="checkbox" name="sf_5_6" {% if user.sf_5_6 %} checked {% endif
                                    %}>Seafarers 5-6 Player</label></p>
                        <p><label><input type="checkbox" name="cksf" {% if user.cksf %} checked {% endif %}>Cities &
                                Knights + Seafarers</label></p>
                        <p><label><input type="checkbox" name="cksf_5_6" {% if user.cksf_5_6 %} checked {% endif
                                    %}>Cities & Knights + Seafarers 5-6 Player</label></p>
                    </div>
                    <div>
                        <p><label><input type="checkbox" name="base_5_6" {% if user.base_5_6 %} checked {% endif %}>Base
                                5-6 Player</label></p>
                        <p><label><input type="checkbox" name="base_7_8" {% if user.base_7_8 %} checked {% endif %}>Base
                                7-8 Player</label></p>
                    </div>
                </div>

                <label>
                    <h3>Home Country:</h3>
                    <input name="country" maxlength="80" value="{{ user.country }}">
                </label>

                <label>
                    <h3>Email:</h3>
                    <input name="email" maxlength="120" type="email" value="{{ user.email or '' }}">
                </label>

                <h3>Discord Proficiency:</h3>
                {% if user.use_discord == "please-help" %}
                <p><label><input type="radio" name="use_discord" value="please-help" checked required>I could use some
                        help</label></p>
                <p><label><input type="radio" name="use_discord" value="no-help" required>I can manage</label></p>
                {% else %}
                <p><label><input type="radio" name="use_discord" value="please-help" required>I could use some
                        help</label></p>
                <p><label><input type="radio" name="use_discord" value="no-help" checked required>I can manage</label>
                </p>
                {% endif %}

                <label>
                    <h3>Special Needs/Accommodations:</h3>
                    <input name="assistance" maxlength="500" type="text" value="{{ user.assistance }}">
                </label>

            </fieldset>
            {% if view_only %}
            <button type="submit">Edit Registration</button>
            {% else %}
            <button type="submit">Update Registration</button>
            {% endif %}
        </form>
</div>
{% endblock %}